@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.bg-custom {
  background: url('../../public/dna_genetics.gif') top left;
  background-size: cover;
  z-index: 9;
  top: 0;
  transition: all;
  transition-duration: 500ms;

  &::before {
    content: '';
    background: rgba(36, 24, 83, 0.6);
    @apply absolute h-full w-full ;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}